div, ul, table, form, input {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
a {
  color: #37af74;
  transition: all 0.3s ease;
  &:hover {
    color: #41d2b9;
  }
}
.form {
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
  label { margin-right: 15px; }
  &__input {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid rgb(41, 128, 185);
    margin-right: 15px;
    &:focus {
      outline: none;
      border-color: rgb(52, 152, 219);
    }
  }
}
