.button {
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  &:focus, &:visited, &:hover {
    outline: none;
    text-decoration: none;
  }
  &--min {
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 3px;
  }
  &--medium {
    color: 14px;
    padding: 10px 15px;
    border-radius: 5px;
  }
  &--blue {
    background-color: rgba(blue,0.6);
    color: white;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      box-shadow: 0px 4px 10px rgba(black, 0.5);
    }
  }
  &--emerald {
    background-color: rgb(46, 204, 113);
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      box-shadow: 0px 4px 10px rgba(black, 0.5);
    }
  }
  &--grey {
    background-color: #95a5a6;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      color: white;
      box-shadow: 0px 4px 10px rgba(black, 0.5);
    }
  }
}
