.background {
  &-color {
    &--white {
      background-color: #fff;
    }
    &--turquiose {
      background-color: rgb(26, 188, 156);
    }
    &--emerald {
      background-color: rgb(46, 204, 113);
    }
    &--alizarin {
      background-color: rgb(231, 76, 60);
    }
    &--peter-river {
      background-color: rgb(52, 152, 219);
    }
  }
}
.padding {
  &--20 {
    padding: 10px 20px;
  }
  &--rl-10 { padding: 0 10px; }
}
.hr {
  outline: none;
  border: 1px solid transparent;
}
.container {
  &__items {
    div:not(:last-child) { margin-bottom: 20px;}
  }
}
.full-width {
  width: 100%;
}
.position {
  &-fixed {
    position: fixed;
  }
}
.border {
  &--top-1 { border-top: 1px solid rgba(0,0,0,0.2);}
}
