.admin-users {
  &__title {
    color: rgba(44, 62, 80,1.0);
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
  }
  &__search {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    div {
      select {
        width: 100%;
        border: 1px solid rgba(26, 188, 156,1.0);
        font-size: 14px;
        font-weight: 300;
        color: rgba(52, 73, 94,1.0);
        background-color: #fff;
        padding: 1px;
        border-radius: 5px;
        &:focus {
          outline: none;
          border: 1px solid rgba(52, 152, 219,1.0);
        }
      }
      input {
        width: 100%;
        padding: 5px 7px;
        font-size: 14px;
        color: rgba(52, 73, 94,1.0);
        font-weight: 300;
        border-radius: 4px;
        border: 1px solid rgba(26, 188, 156,1.0);
        &:focus {
          outline: none;
          border-color: rgba(52, 152, 219,1.0);
        }
      }
    }
  }
  &__table {
    min-width: 700px;
  }
}
