.note {
  &__tag {
    border-top: 1px solid rgba(0,0,0,.2);
    input {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #69dfe4;
      width: 100%;
      &:focus {
        border: none;
        border-bottom: 1px solid #69dfe4;
      }
    }
  }
  &__select {
    select {
      width: 90%;
      background-color: #fff;
      padding: 4px;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  &__column {
    &-right{
      width: 100% !important;
      padding-left: calc(40% + 10px) !important;
    }
    &-left {border-right: 1px solid rgba(0,0,0,0.2);}
  }
  &__list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 !important;
    overflow: auto;
    min-height: 500px;
    height: 500px;
    &__item {
      padding: 15px 10px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 1.8;
      font-family: sans-serif;
      cursor: pointer;
      transition: all 0.2 ease-in-out;
      &:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,0.1);}
      &:hover { background-color: rgba(0,0,0,0.05); }
    }
  }
  &__textarea {
    border-top: 1px solid rgba(0,0,0,0.2);
    width: 100% !important;
    textarea {
      padding: 15px 30px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid transparent;
      font-size: 14px;
      font-family: sans-serif;
      letter-spacing: 1px;
      word-spacing: 4px;
      line-height: 1.8;
      height: 400px;
      &:focus { outline: none;}
    }
  }
}
