.icon {
  &__container {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    &:hover {
      background-color: rgba(215, 222, 222, 0.33);
    }
    i {
      font-size: 24px !important;
      font-weight: 300;
      color: #69dfe4;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
  }
}
